# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
**/.pioenvs/
**/.piolibdeps/
**/lib/
**/src/
**/platformio.ini
/secrets.yaml

# Added 5 Sep 2026 for GitHub deploy pipeline setup
*.bak
*.bak-*
*.newndiff
*.retired
*_upload_log.txt
*_compile_log.txt
*_live_log.txt
*_logs_test.txt
upload_log.txt
compile_log.txt
upload_serial_log.txt
upload_serial_log2.txt
mmwave-build.log
.device-builder*
archive/
